*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(186, 185, 185);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}